.action-nav {
  position: fixed;
  top: 20px;
  right: 30px;
}

.action-nav .profile-nav {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action-nav .profile-nav .img-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-nav .menu_nav {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action-nav .menu_nav.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action-nav .menu_nav::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action-nav .menu_nav .h3-nav {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action-nav .menu_nav .h3-nav .span-nav {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.action-nav .menu_nav .ul-nav .li-nav {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action-nav .menu_nav .ul-nav .li-nav .img-nav {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action-nav .menu_nav .ul-nav .li-nav:hover .img-nav {
  opacity: 1;
}

.action-nav .menu_nav .ul-nav .li-nav .a-nav {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action-nav .menu_nav .ul-nav .li-nav:hover .a-nav {
  color: #ff5d94;
}
