<div id="<%= dom_id user %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.bio %>
  </p>

  <p>
    <%= link_to "Show this bird", user %>
  </p>
</div>