<h6 >

        
        <% if current_user %>
    <%= render 'profile/follow_button', user: user %>
            
        <% end %>
        



<style>
.aziz{
color: blue;

}
</style>
<br />
<%= render 'profile/follower_count', user: user %>
<div><%= user.followees.count %> following</div>

